<md-card class="container col-sm-4 ">
  <div id="headings" class="text-center">
    <h2>Register to RadioWeb</h2>
    <p *ngIf="error">{{errorMessage}}</p>
  </div>
    <form [formGroup]="registerForm" (ngSubmit)="register($event)">
      <div class="input-group "><input type="text" class="form-control" placeholder="first name" formControlName="first"><input type="text" class="form-control"placeholder="last name" formControlName="last"></div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"class="form-control" placeholder="you@domain.com" formControlName="email" id="email"></div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control"placeholder="******" formControlName="password" id="password"></div>
      <div class="form-group">
        <label for="passwordA">Enter the password again</label>
        <input type="password"class="form-control" placeholder="******" formControlName="again" id="passwordA"></div>
      <div class="form-group">
        <label for="prof">Enter your Profession</label>
        <select name="profession" id="" class="form-control"placeholder="profession" formControlName="prof" id="prof">
        <option value="Doctor">Doctor</option>
        <option value="Student">Student</option>
        <option value="Professor">Professor</option>
        <option value="Company">Company</option>
        </select></div>
      <button type="submit" class="btn btn-success form-control" >Register</button>
    </form>
</md-card>