<div [ngClass] = "{ 'spinner' : spinner }">
<h3 class="display-4">Datasets</h3>
<button class="btn btn-success" style=""(click)="opened = true">Add </button>
    <clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'xl'">
    <h3 class="modal-title">Upload dataset</h3>
    <div class="modal-body">
      <form method="POST" (ngSubmit) = "uploadImage()">
        <div class="form-group">
          <label for="datasetName">Dataset Name</label>
          <input type="text" name="datasetName" id="datasetName" />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" cols="15" rows="3"></textarea>
        </div>
      <input class="" type="file" id="file-select" name="photos[]" multiple (change) = "printFiles($event)">
        <br/><h4 *ngIf = "statusFlag" [ngClass]="{'alert-success': onupload}" >{{uploadMessage}}</h4>
      <div class="card" *ngIf="file!=null">
            <ul class="card-block list">
                  <li *ngFor = "let f of file">
                        {{f.name}}
                  </li>
            </ul>
      </div>
      <button *ngIf="file!=null" class="btn btn-outline-primary" type = "submit" id="upload">Upload</button>
      </form>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="opened = false">Ok</button>
    </div>
</clr-modal>
      <table class="table">
            <thead>
                  <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Posted</th>
                  </tr>
            </thead>
            <tbody>
            <tr *ngFor = "let item of datasets">
                  <td> <a [routerLink] = "['data', item.id]">{{item.name}}</a></td>
                  <td>active</td>
                  <td>{{item.date}}</td>
            </tr>
            </tbody>
      </table>
      <!--<button class="btn btn-primary" (click) = "checkToken()">Check Token</button>-->
      </div>
