.display-3{
    margin-top: 20px;
    font-family: sans-serif;
}
a{
    color: #0069ff;
}
.my-drop-zone { border: dotted 3px lightgray; height: 200px; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }