<div>
  <header class="header-6" [ngClass] = "{'scrolled' : isScrolled, 'fixed-top' : isScrolled, 'over' : isover}">
    <div class="branding"><a class="navbar-brand" routerLink="/">RadioWeb</a></div>
    <div class="header-nav">
            <a routerLink="/team" routerLinkActive="active" class="nav-link nav-text">Team</a>
            <a routerLink="/projects" routerLinkActive="active" class="nav-link nav-text" >Projects</a>
        </div>
    <div class="header-actions">
        <a  class="nav-link nav-text" routerLink="/login" routerLinkActive="active" *ngIf="!loggedin">Log In</a>
        <a class="nav-link nav-text" routerLink="/register" routerLinkActive="active" *ngIf="!loggedin">Sign Up</a>
          <clr-dropdown *ngIf="loggedin">
      <button class="btn btn-primary" clrDropdownToggle>
          {{user}}
      </button>
      <div class="dropdown-menu">
          <label class="dropdown-header">Options</label>
          <a href="..." clrDropdownItem>Settings</a>
          <a href="..." clrDropdownItem>Help</a>
          <div class="dropdown-divider"></div>
          <a href="" clrDropdownItem (click) = "logout()">logout</a>
      </div>
      </clr-dropdown>
        </div>
  </header>
  <nav class="subnav" *ngIf="loggedin">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
    </ul>
  </nav>
<div id="main-content" class="content-container">
<router-outlet></router-outlet>
</div>
</div>