nav{
    background-color: #574d4d;
    transition: background-color 0.5s ease-out;
    height: 60px;
}
.navbar-light .navbar-nav .nav-link
{
    color: white;
}
.navbar-light  .navbar-brand
{
    color: white;
}
.active{
    text-decoration: underline;
}
.scrolled{
    background-color: #313131;
    opacity: 1;

}
#main-content{
}