header{
    transition: background-color 0.5s ease-in;
    background-color: #0069ff;
}
.branding a{
    color: white;
}
.navbar-light .navbar-nav .nav-link
{
    color: white;
}
.navbar-light  .navbar-brand
{
    color: white;
}
.active{
    text-decoration: underline;
}
.scrolled{
    background-color: white;
    opacity: 1;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.2);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.2);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.2);
}
.scrolled .btn{
    color : black;
}
.scrolled .btn:hover{
    background-color: #0069ff;
}
.scrolled a{
    color : black;
}
.over{
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.2);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.2);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.2);
}
.btn-primary{
    border-radius: 0px;
    background-color: transparent;
}
.dropdown-menu{
    padding: 5px;
}
#main-content{
}