body{
    background-color: #F9F9F9;
}
#headings{
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#register{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}