<div class ="form-container container card col-sm-4" > 
  <div class="card-block">
  <div id="headings" class="text-center">
  <h2 >Sign in to RadioWeb</h2>
  <h6>Enter your <b>email address</b> and <b>password</b></h6>
  </div>
  <h6 *ngIf="error" class="alert alert-danger">{{errormessage}}</h6>
  <form name="form" [formGroup] = "loginForm" (ngSubmit) = "login($event)">
  <section class="form-block ">
  <div class="form-group">
    <label for="exampleInputEmail1" class="">Email</label>
    <input name="email" type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="you@domain.com" size="45">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="password">
  </div>
  <button type="submit" class="btn btn-success">Sign In</button>
  </section>
</form>
<div id = "register">
  <p><a routerLink="/register" routerLinkActive="active" >Register</a> for RadioWeb</p>
</div>
</div>
</div>