<div class="jumbotron text-center">
  <h1>Land Page</h1>
</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <h2>Who we are?</h2>
          <h6>INNOVATIVE</h6>
          <p>Founded in 2016, ours is a India-based company exploring the use of deep learning in medical field.</p>
          <h6>STRONG TEAMWORK</h6>
          <p>Our team is a group of academicians and researchers met while working at Panjab University working on different projects. They eventually shifted on deep machine learning realizing that it is the future and could be applied to different real-life problems especially in the medical field. Our solutions aims to help doctors and patients by providing quality healthcare to every person.</p>
          <h6>ENTERPRISING</h6>
          <p>We are currently working with India's top hospitals like PGIMS, Medanta, Fortis Hospital to collect medical data and develop healthcare solution based on deep machine learning. We are also prviding a portal where new radiologists can enhance their interpretation skills using experience of others incorporated in our vast annotated dataset. These solutions will assits them in diagnosing diseases in patients.</p>
      </div>
      <div class="col-sm-6"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <h2>Mission</h2>
        <p>Lot of medical data is being processed by the medical institutes every year which remains unused since it is not shared. Our mission is to use this unshared data which will fasten the treatment process and will also increase the ability of doctors to interpret medical data. Our product on one hand will allow the hospitals and individual doctors to provide the medical data and annotate it to describe the abnormality. On the other hand, new radiologists will be able to learn using the dataset annotated by the experts and various companies can also buy the annotated medical data to use in their products. The quality and quantity of the dataset will rapidly increase as each image will have annotations from group of radiologists. The shared data will be used to train a deep learning solution and it will create a solution which can be used to assist radiologists and also help in training of the new trainees.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Solutions we provide</h2>
        <p>We work with wide range of partners and data providers to develop decision support systems using deep learning. Our technology incorporates different type of unstructured medical data such as radiology images, medical reports, laboratory results and patient histories. The more amount of data allows higher accuracy and deeper knowledge about each patient. We provide solutions which integrates effortlessly with your existing healthcare infrastructure. Ours solutions are explained below:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-4">
        <h5>Real-time Clinical Support</h5>
        <p>Millions of Indian population is effected every year due to cognitive and perpetual diagnostic errors. These errors can be greatly reduced if an efficient and accurate support system is available for doctors. Our real-time clinical support solutions provide automatic analysis to help doctors diagnose intriguing cases.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h5>Screening programs</h5>
        <p>Many persons develop a specific disease since it is not diagnosed at an early stage. In India, medical facilities in rural areas are very poor and also presence of expert doctor opinion is also rare. Hence we are working on providing screening solutions which can analyze quickly to highlight suspicious areas and recommend the patient to visit hospital if there is feasible chance of presence of any abnormality.</p>
      </div>
      <div class="col-sm-6"></div>
    </div>
    <div class="row">
       <div class="col-sm-6"></div>
      <div class="col-sm-4">
        <h5>Learn and Earn</h5>
        <p>Radiology suffers from high error rates as studies show that false positive rates can be up to 2% while false negative rates can exceed 25%. Using our solution, you can train your new radiologists and trainees to practise on vast dataset of varied type which provide different challenges in interpreting. Hospitals and doctors can also support us by providing annotated data which will help in expanded our data source and they can also earn some money in the process.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Areas of Research</h2>
        <p>Our team's main research interest is applying deep machine learning to provide state-of-art solutions in different fields. Currently we are working in the field of medical image analysis using different modalities. Other general area of interest includes image processing and computer vision.</p>
      </div>
    </div>
  </div>
