<div class="jumbotron text-center">
  <h1>Land Page</h1>
</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate delectus culpa ullam itaque dolorem eum recusandae minus. Voluptatibus praesentium a culpa neque aut molestiae, magnam, consectetur assumenda fugiat, impedit accusantium.</div>
      <div class="col-sm-6">Ex quisquam sequi illum neque repudiandae eum rerum distinctio quam, similique tempore asperiores iste, eaque a molestias eos in impedit, veritatis harum hic, consectetur et molestiae ullam minus! Ducimus, saepe.</div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat libero voluptate illo, sed atque nostrum maiores itaque esse, a inventore necessitatibus. Deserunt, illum laudantium voluptatem nulla. Labore veritatis vero ullam.</div>
      <div class="col-sm-6">Eveniet porro placeat laboriosam incidunt dolorem delectus minus at ullam non fugiat sit ipsum maxime nostrum aliquam ipsam doloribus, repellat eos totam, nihil rerum est officia, nemo eaque! Et, hic.</div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque explicabo dolore, neque inventore magnam tenetur quisquam, repellendus veniam doloribus quaerat unde nesciunt itaque rem commodi ratione quam natus, officia dolores.</div>
      <div class="col-sm-6">Ex beatae, molestiae error incidunt laudantium placeat corrupti mollitia qui, distinctio ipsum quos voluptatibus blanditiis, ipsam perspiciatis ut magni non. Velit iure atque doloribus officiis, dolor quisquam illum maiores dolore.</div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos temporibus perspiciatis voluptatum asperiores, commodi, aliquid ea incidunt vero nulla ipsam laborum assumenda nostrum voluptates nisi pariatur vitae aspernatur ducimus maiores.</div>
      <div class="col-sm-6">Dolorum soluta eius, expedita nobis! Iure iste similique, quibusdam optio nobis delectus velit architecto veritatis sint illo perferendis, doloremque ab rem rerum officiis libero quae. Odit vel quia, vitae adipisci.</div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque corporis quisquam laudantium facere necessitatibus cumque vel dolor alias nostrum, minus temporibus officia iure accusantium perspiciatis est deleniti doloribus impedit sunt!</div>
      <div class="col-sm-6">In non doloremque, explicabo nesciunt at quod aliquid enim. Quos sapiente explicabo iste esse voluptas reprehenderit ipsum quibusdam, quis sunt possimus provident, temporibus reiciendis natus, porro, sequi repellendus deleniti excepturi.</div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis eaque nulla laborum odit ut qui nam, a ex sit asperiores harum autem placeat, neque dolores illum exercitationem debitis! Quibusdam, molestiae.</div>
      <div class="col-sm-6">Labore velit dolor laudantium, et qui, eligendi. Recusandae autem iste provident amet ratione doloribus, sint expedita laborum, reprehenderit veniam laboriosam similique eveniet quaerat tenetur! Eligendi quia quam, recusandae nostrum repudiandae.</div>
    </div>
  </div>
